/* common shared styles */

.banner-item {
    padding: 50px 500px 50px 300px;
    width: 1920px;
    height: 850px;
}

.banner-png {

    display: flex;
    justify-content: space-around;
}

header {

    background: rgba(229, 84, 115, 0.10);
}

body h3 {
    display: flex;
    width: 708px;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: #272727;
    font-size: 80px;

}

.banner-deteils {
    margin: 32px;

}

.baner-description {
    color: rgba(39, 39, 39, 0.60);

    font-size: 30px;

    font-weight: 400;

}

.btn-primary {
    color: #FFF;
    border-radius: 8px;
    background: #E55473;
    font-weight: 700;
    border: 0px;
    padding: 20px 43px;

    gap: 10px;

}

nav li {
    list-style: none;
}

nav {
    display: flex;

    background-image: url(../styles/pngwing\ 10.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    height: 800px;


}

/* mai sectoin */

.about {
    text-align: center;
    background: #FFF;
    padding: 176px;
}

.section-title {
    color: #272727;
    text-align: center;

    font-size: 40px;

    font-weight: 800;

}

/* flower-colection */
.flower-colection {

    padding: 71px 0px;
    border-radius: 300px 300px 0px 0px;

    display: flex;
    justify-content: space-between;

}



.img1 {

    margin-left: 240px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

    padding: 100px 76px 0px;
}

.img2 {

    width: 464px;
    height: 538px;
   
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.img3 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    margin-right: 240px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);


}

.section-description {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 30px;

    font-weight: 400;
    ;
}


.delivery {
    margin: 0px 0px 600px 600px;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
}


.deal {
    margin-top: 130px;
    padding: 165px 240px;
    text-align: center;
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.Instagram-details{

 text-align: center;
  
}
img{
    border: 24px 24px 0 0;
    
    width: 342px;
    height: 396px;
margin-left: 240px;
  
}

.latest{
    margin: 130px;
    display: flex;
    justify-content: space-around;
}

.pic{

    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 0px -203.444px / 100% 213.755% no-repeat;
}

.text{

    text-align: center;

}