/* common shared styles */

.banner-item {
    padding: 50px 500px 50px 300px;
    width: 1920px;
    height: 850px;
}

.banner-png {

    display: flex;
    justify-content: space-between;
}

header {

    background: rgba(229, 84, 115, 0.10);
}

body h3 {
    display: flex;
    width: 708px;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: #272727;
    font-size: 80px;

}

.banner-deteils {
    margin: 32px;

}

.baner-description {
    color: rgba(39, 39, 39, 0.60);

    font-size: 30px;

    font-weight: 400;

}

.btn-primary {
    color: #FFF;
    border-radius: 8px;
    background: #E55473;
    font-weight: 700;
    border: 0px;
    padding: 20px 43px;

    gap: 10px;

}

nav li {
    list-style: none;
}

nav {
    display: flex;
    background-image: url(../styles/pngwing\ 10.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    height: 800px;


}

/* mai sectoin */

.about {
    text-align: center;
    background: #FFF;
    padding: 176px;
}

.section-title {
     color: #272727;
    text-align: center;

    font-size: 40px;

    font-weight: 800;

}

/* flower-colection */
.flower-colection {
   border-radius: 300px 300px 0px 0px;

    display: flex;
    justify-content: space-between;
}

.flower1 {
    margin-left: 240px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    
    width: 310px;
    height: 428px;
    padding: 100px 76px 0px;
}

.flower2 {
 
    width: 370px;
    height: 370px;
   
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding:85px 20px  ;
}

.flower3 {
    margin-right: 240px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.section-description {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 30px;

    font-weight: 400;
    ;
}